node_modules/
node_modules/.package-lock.json
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/chunk-5Z66FT5C.js
node_modules/.vite/deps/chunk-5Z66FT5C.js.map
node_modules/.vite/deps/chunk-B5EWPJII.js
node_modules/.vite/deps/chunk-B5EWPJII.js.map
node_modules/.vite/deps/chunk-DCE4O3CF.js
node_modules/.vite/deps/chunk-DCE4O3CF.js.map
node_modules/.vite/deps/chunk-UTIALTTK.js
node_modules/.vite/deps/chunk-UTIALTTK.js.map
node_modules/.vite/deps/chunk-V6TY7KAL.js
node_modules/.vite/deps/chunk-V6TY7KAL.js.map
node_modules/.vite/deps/chunk-X5DTSV2Z.js
node_modules/.vite/deps/chunk-X5DTSV2Z.js.map
node_modules/.vite/deps/d3.js
node_modules/.vite/deps/pdfjs-dist.js
node_modules/.vite/deps/pdfjs-dist.js.map
node_modules/.vite/deps/svelte.js
node_modules/.vite/deps/svelte_animate.js
node_modules/.vite/deps/svelte_easing.js
node_modules/.vite/deps/svelte_internal.js
node_modules/.vite/deps/svelte_internal_disclose-version.js
node_modules/.vite/deps/svelte_motion.js
node_modules/.vite/deps/svelte_store.js
node_modules/.vite/deps/svelte_transition.js
node_modules/@napi-rs/canvas-darwin-arm64/package.json
node_modules/@napi-rs/canvas-darwin-arm64/README.md
node_modules/@napi-rs/canvas-darwin-arm64/skia.darwin-arm64.node
node_modules/@napi-rs/canvas/geometry.js
node_modules/@napi-rs/canvas/index.d.ts
node_modules/@napi-rs/canvas/index.js
node_modules/@napi-rs/canvas/js-binding.js
node_modules/@napi-rs/canvas/LICENSE
node_modules/@napi-rs/canvas/load-image.js
node_modules/@napi-rs/canvas/package.json
node_modules/@napi-rs/canvas/README.md
node_modules/pdfjs-dist/build/pdf.min.mjs
node_modules/pdfjs-dist/build/pdf.mjs
node_modules/pdfjs-dist/build/pdf.mjs.map
node_modules/pdfjs-dist/build/pdf.sandbox.min.mjs
node_modules/pdfjs-dist/build/pdf.sandbox.mjs
node_modules/pdfjs-dist/build/pdf.sandbox.mjs.map
node_modules/pdfjs-dist/build/pdf.worker.min.mjs
node_modules/pdfjs-dist/build/pdf.worker.mjs
node_modules/pdfjs-dist/build/pdf.worker.mjs.map
node_modules/pdfjs-dist/cmaps/78-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/78-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/78-H.bcmap
node_modules/pdfjs-dist/cmaps/78-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/78-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/78-V.bcmap
node_modules/pdfjs-dist/cmaps/78ms-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/78ms-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/83pv-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/90ms-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/90ms-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/90msp-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/90msp-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/90pv-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/90pv-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/Add-H.bcmap
node_modules/pdfjs-dist/cmaps/Add-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/Add-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/Add-V.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-0.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-1.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-3.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-4.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-5.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-6.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-CNS1-UCS2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-0.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-1.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-3.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-4.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-5.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-GB1-UCS2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-0.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-1.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-3.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-4.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-5.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-6.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Japan1-UCS2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Korea1-0.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Korea1-1.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Korea1-2.bcmap
node_modules/pdfjs-dist/cmaps/Adobe-Korea1-UCS2.bcmap
node_modules/pdfjs-dist/cmaps/B5-H.bcmap
node_modules/pdfjs-dist/cmaps/B5-V.bcmap
node_modules/pdfjs-dist/cmaps/B5pc-H.bcmap
node_modules/pdfjs-dist/cmaps/B5pc-V.bcmap
node_modules/pdfjs-dist/cmaps/CNS-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/CNS-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/CNS1-H.bcmap
node_modules/pdfjs-dist/cmaps/CNS1-V.bcmap
node_modules/pdfjs-dist/cmaps/CNS2-H.bcmap
node_modules/pdfjs-dist/cmaps/CNS2-V.bcmap
node_modules/pdfjs-dist/cmaps/ETen-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/ETen-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/ETenms-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/ETenms-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/ETHK-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/ETHK-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/Ext-H.bcmap
node_modules/pdfjs-dist/cmaps/Ext-RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/Ext-RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/Ext-V.bcmap
node_modules/pdfjs-dist/cmaps/GB-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/GB-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/GB-H.bcmap
node_modules/pdfjs-dist/cmaps/GB-V.bcmap
node_modules/pdfjs-dist/cmaps/GBK-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/GBK-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/GBK2K-H.bcmap
node_modules/pdfjs-dist/cmaps/GBK2K-V.bcmap
node_modules/pdfjs-dist/cmaps/GBKp-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/GBKp-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/GBpc-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/GBpc-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/GBT-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/GBT-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/GBT-H.bcmap
node_modules/pdfjs-dist/cmaps/GBT-V.bcmap
node_modules/pdfjs-dist/cmaps/GBTpc-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/GBTpc-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/H.bcmap
node_modules/pdfjs-dist/cmaps/Hankaku.bcmap
node_modules/pdfjs-dist/cmaps/Hiragana.bcmap
node_modules/pdfjs-dist/cmaps/HKdla-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/HKdla-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/HKdlb-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/HKdlb-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/HKgccs-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/HKgccs-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/HKm314-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/HKm314-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/HKm471-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/HKm471-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/HKscs-B5-H.bcmap
node_modules/pdfjs-dist/cmaps/HKscs-B5-V.bcmap
node_modules/pdfjs-dist/cmaps/Katakana.bcmap
node_modules/pdfjs-dist/cmaps/KSC-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/KSC-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/KSC-H.bcmap
node_modules/pdfjs-dist/cmaps/KSC-Johab-H.bcmap
node_modules/pdfjs-dist/cmaps/KSC-Johab-V.bcmap
node_modules/pdfjs-dist/cmaps/KSC-V.bcmap
node_modules/pdfjs-dist/cmaps/KSCms-UHC-H.bcmap
node_modules/pdfjs-dist/cmaps/KSCms-UHC-HW-H.bcmap
node_modules/pdfjs-dist/cmaps/KSCms-UHC-HW-V.bcmap
node_modules/pdfjs-dist/cmaps/KSCms-UHC-V.bcmap
node_modules/pdfjs-dist/cmaps/KSCpc-EUC-H.bcmap
node_modules/pdfjs-dist/cmaps/KSCpc-EUC-V.bcmap
node_modules/pdfjs-dist/cmaps/LICENSE
node_modules/pdfjs-dist/cmaps/NWP-H.bcmap
node_modules/pdfjs-dist/cmaps/NWP-V.bcmap
node_modules/pdfjs-dist/cmaps/RKSJ-H.bcmap
node_modules/pdfjs-dist/cmaps/RKSJ-V.bcmap
node_modules/pdfjs-dist/cmaps/Roman.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UCS2-H.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UCS2-V.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UTF16-H.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UTF16-V.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UTF8-H.bcmap
node_modules/pdfjs-dist/cmaps/UniCNS-UTF8-V.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UCS2-H.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UCS2-V.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UTF16-H.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UTF16-V.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UTF8-H.bcmap
node_modules/pdfjs-dist/cmaps/UniGB-UTF8-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UCS2-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UCS2-HW-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UCS2-HW-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UCS2-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UTF16-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UTF16-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UTF8-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS-UTF8-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS2004-UTF16-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS2004-UTF16-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS2004-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS2004-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS2004-UTF8-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJIS2004-UTF8-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJISPro-UCS2-HW-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJISPro-UCS2-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJISPro-UTF8-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJISX0213-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJISX0213-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniJISX02132004-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniJISX02132004-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UCS2-H.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UCS2-V.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UTF16-H.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UTF16-V.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UTF32-H.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UTF32-V.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UTF8-H.bcmap
node_modules/pdfjs-dist/cmaps/UniKS-UTF8-V.bcmap
node_modules/pdfjs-dist/cmaps/V.bcmap
node_modules/pdfjs-dist/cmaps/WP-Symbol.bcmap
node_modules/pdfjs-dist/CODE_OF_CONDUCT.md
node_modules/pdfjs-dist/iccs/CGATS001Compat-v2-micro.icc
node_modules/pdfjs-dist/iccs/LICENSE
node_modules/pdfjs-dist/image_decoders/pdf.image_decoders.min.mjs
node_modules/pdfjs-dist/image_decoders/pdf.image_decoders.mjs
node_modules/pdfjs-dist/image_decoders/pdf.image_decoders.mjs.map
node_modules/pdfjs-dist/legacy/build/pdf.d.mts
node_modules/pdfjs-dist/legacy/build/pdf.min.mjs
node_modules/pdfjs-dist/legacy/build/pdf.mjs
node_modules/pdfjs-dist/legacy/build/pdf.mjs.map
node_modules/pdfjs-dist/legacy/build/pdf.sandbox.min.mjs
node_modules/pdfjs-dist/legacy/build/pdf.sandbox.mjs
node_modules/pdfjs-dist/legacy/build/pdf.sandbox.mjs.map
node_modules/pdfjs-dist/legacy/build/pdf.worker.min.mjs
node_modules/pdfjs-dist/legacy/build/pdf.worker.mjs
node_modules/pdfjs-dist/legacy/build/pdf.worker.mjs.map
node_modules/pdfjs-dist/legacy/image_decoders/pdf.image_decoders.min.mjs
node_modules/pdfjs-dist/legacy/image_decoders/pdf.image_decoders.mjs
node_modules/pdfjs-dist/legacy/image_decoders/pdf.image_decoders.mjs.map
node_modules/pdfjs-dist/legacy/web/images/altText_add.svg
node_modules/pdfjs-dist/legacy/web/images/altText_disclaimer.svg
node_modules/pdfjs-dist/legacy/web/images/altText_done.svg
node_modules/pdfjs-dist/legacy/web/images/altText_spinner.svg
node_modules/pdfjs-dist/legacy/web/images/altText_warning.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-check.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-comment.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-help.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-insert.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-key.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-newparagraph.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-noicon.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-note.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-paperclip.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-paragraph.svg
node_modules/pdfjs-dist/legacy/web/images/annotation-pushpin.svg
node_modules/pdfjs-dist/legacy/web/images/cursor-editorFreeHighlight.svg
node_modules/pdfjs-dist/legacy/web/images/cursor-editorFreeText.svg
node_modules/pdfjs-dist/legacy/web/images/cursor-editorInk.svg
node_modules/pdfjs-dist/legacy/web/images/cursor-editorTextHighlight.svg
node_modules/pdfjs-dist/legacy/web/images/editor-toolbar-delete.svg
node_modules/pdfjs-dist/legacy/web/images/editor-toolbar-edit.svg
node_modules/pdfjs-dist/legacy/web/images/loading-icon.gif
node_modules/pdfjs-dist/legacy/web/images/messageBar_closingButton.svg
node_modules/pdfjs-dist/legacy/web/images/messageBar_warning.svg
node_modules/pdfjs-dist/legacy/web/images/secondaryToolbarButton-documentProperties.svg
node_modules/pdfjs-dist/legacy/web/images/toolbarButton-editorHighlight.svg
node_modules/pdfjs-dist/legacy/web/images/toolbarButton-menuArrow.svg
node_modules/pdfjs-dist/legacy/web/pdf_viewer.css
node_modules/pdfjs-dist/legacy/web/pdf_viewer.d.mts
node_modules/pdfjs-dist/legacy/web/pdf_viewer.mjs
node_modules/pdfjs-dist/legacy/web/pdf_viewer.mjs.map
node_modules/pdfjs-dist/LICENSE
node_modules/pdfjs-dist/package.json
node_modules/pdfjs-dist/README.md
node_modules/pdfjs-dist/standard_fonts/FoxitDingbats.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitFixed.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitFixedBold.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitFixedBoldItalic.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitFixedItalic.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitSerif.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitSerifBold.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitSerifBoldItalic.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitSerifItalic.pfb
node_modules/pdfjs-dist/standard_fonts/FoxitSymbol.pfb
node_modules/pdfjs-dist/standard_fonts/LiberationSans-Bold.ttf
node_modules/pdfjs-dist/standard_fonts/LiberationSans-BoldItalic.ttf
node_modules/pdfjs-dist/standard_fonts/LiberationSans-Italic.ttf
node_modules/pdfjs-dist/standard_fonts/LiberationSans-Regular.ttf
node_modules/pdfjs-dist/standard_fonts/LICENSE_FOXIT
node_modules/pdfjs-dist/standard_fonts/LICENSE_LIBERATION
node_modules/pdfjs-dist/types/src/display/annotation_layer.d.ts
node_modules/pdfjs-dist/types/src/display/annotation_storage.d.ts
node_modules/pdfjs-dist/types/src/display/api.d.ts
node_modules/pdfjs-dist/types/src/display/canvas.d.ts
node_modules/pdfjs-dist/types/src/display/canvas_factory.d.ts
node_modules/pdfjs-dist/types/src/display/cmap_reader_factory.d.ts
node_modules/pdfjs-dist/types/src/display/content_disposition.d.ts
node_modules/pdfjs-dist/types/src/display/display_utils.d.ts
node_modules/pdfjs-dist/types/src/display/draw_layer.d.ts
node_modules/pdfjs-dist/types/src/display/editor/alt_text.d.ts
node_modules/pdfjs-dist/types/src/display/editor/annotation_editor_layer.d.ts
node_modules/pdfjs-dist/types/src/display/editor/color_picker.d.ts
node_modules/pdfjs-dist/types/src/display/editor/draw.d.ts
node_modules/pdfjs-dist/types/src/display/editor/drawers/contour.d.ts
node_modules/pdfjs-dist/types/src/display/editor/drawers/freedraw.d.ts
node_modules/pdfjs-dist/types/src/display/editor/drawers/highlight.d.ts
node_modules/pdfjs-dist/types/src/display/editor/drawers/inkdraw.d.ts
node_modules/pdfjs-dist/types/src/display/editor/drawers/outline.d.ts
node_modules/pdfjs-dist/types/src/display/editor/drawers/signaturedraw.d.ts
node_modules/pdfjs-dist/types/src/display/editor/editor.d.ts
node_modules/pdfjs-dist/types/src/display/editor/freetext.d.ts
node_modules/pdfjs-dist/types/src/display/editor/highlight.d.ts
node_modules/pdfjs-dist/types/src/display/editor/ink.d.ts
node_modules/pdfjs-dist/types/src/display/editor/signature.d.ts
node_modules/pdfjs-dist/types/src/display/editor/stamp.d.ts
node_modules/pdfjs-dist/types/src/display/editor/toolbar.d.ts
node_modules/pdfjs-dist/types/src/display/editor/tools.d.ts
node_modules/pdfjs-dist/types/src/display/fetch_stream.d.ts
node_modules/pdfjs-dist/types/src/display/filter_factory.d.ts
node_modules/pdfjs-dist/types/src/display/font_loader.d.ts
node_modules/pdfjs-dist/types/src/display/metadata.d.ts
node_modules/pdfjs-dist/types/src/display/network.d.ts
node_modules/pdfjs-dist/types/src/display/network_utils.d.ts
node_modules/pdfjs-dist/types/src/display/node_stream.d.ts
node_modules/pdfjs-dist/types/src/display/node_utils.d.ts
node_modules/pdfjs-dist/types/src/display/optional_content_config.d.ts
node_modules/pdfjs-dist/types/src/display/pattern_helper.d.ts
node_modules/pdfjs-dist/types/src/display/standard_fontdata_factory.d.ts
node_modules/pdfjs-dist/types/src/display/svg_factory.d.ts
node_modules/pdfjs-dist/types/src/display/text_layer.d.ts
node_modules/pdfjs-dist/types/src/display/touch_manager.d.ts
node_modules/pdfjs-dist/types/src/display/transport_stream.d.ts
node_modules/pdfjs-dist/types/src/display/wasm_factory.d.ts
node_modules/pdfjs-dist/types/src/display/worker_options.d.ts
node_modules/pdfjs-dist/types/src/display/xfa_layer.d.ts
node_modules/pdfjs-dist/types/src/display/xfa_text.d.ts
node_modules/pdfjs-dist/types/src/interfaces.d.ts
node_modules/pdfjs-dist/types/src/pdf.d.ts
node_modules/pdfjs-dist/types/src/shared/image_utils.d.ts
node_modules/pdfjs-dist/types/src/shared/message_handler.d.ts
node_modules/pdfjs-dist/types/src/shared/murmurhash3.d.ts
node_modules/pdfjs-dist/types/src/shared/scripting_utils.d.ts
node_modules/pdfjs-dist/types/src/shared/util.d.ts
node_modules/pdfjs-dist/types/web/annotation_editor_layer_builder.d.ts
node_modules/pdfjs-dist/types/web/annotation_layer_builder.d.ts
node_modules/pdfjs-dist/types/web/app_options.d.ts
node_modules/pdfjs-dist/types/web/autolinker.d.ts
node_modules/pdfjs-dist/types/web/base_pdf_page_view.d.ts
node_modules/pdfjs-dist/types/web/download_manager.d.ts
node_modules/pdfjs-dist/types/web/draw_layer_builder.d.ts
node_modules/pdfjs-dist/types/web/event_utils.d.ts
node_modules/pdfjs-dist/types/web/generic_scripting.d.ts
node_modules/pdfjs-dist/types/web/genericl10n.d.ts
node_modules/pdfjs-dist/types/web/interfaces.d.ts
node_modules/pdfjs-dist/types/web/l10n.d.ts
node_modules/pdfjs-dist/types/web/pdf_find_controller.d.ts
node_modules/pdfjs-dist/types/web/pdf_find_utils.d.ts
node_modules/pdfjs-dist/types/web/pdf_history.d.ts
node_modules/pdfjs-dist/types/web/pdf_link_service.d.ts
node_modules/pdfjs-dist/types/web/pdf_page_detail_view.d.ts
node_modules/pdfjs-dist/types/web/pdf_page_view.d.ts
node_modules/pdfjs-dist/types/web/pdf_rendering_queue.d.ts
node_modules/pdfjs-dist/types/web/pdf_scripting_manager.component.d.ts
node_modules/pdfjs-dist/types/web/pdf_scripting_manager.d.ts
node_modules/pdfjs-dist/types/web/pdf_single_page_viewer.d.ts
node_modules/pdfjs-dist/types/web/pdf_thumbnail_view.d.ts
node_modules/pdfjs-dist/types/web/pdf_thumbnail_viewer.d.ts
node_modules/pdfjs-dist/types/web/pdf_viewer.component.d.ts
node_modules/pdfjs-dist/types/web/pdf_viewer.d.ts
node_modules/pdfjs-dist/types/web/struct_tree_layer_builder.d.ts
node_modules/pdfjs-dist/types/web/text_accessibility.d.ts
node_modules/pdfjs-dist/types/web/text_highlighter.d.ts
node_modules/pdfjs-dist/types/web/text_layer_builder.d.ts
node_modules/pdfjs-dist/types/web/ui_utils.d.ts
node_modules/pdfjs-dist/types/web/xfa_layer_builder.d.ts
node_modules/pdfjs-dist/wasm/LICENSE_OPENJPEG
node_modules/pdfjs-dist/wasm/LICENSE_PDFJS_OPENJPEG
node_modules/pdfjs-dist/wasm/LICENSE_PDFJS_QCMS
node_modules/pdfjs-dist/wasm/LICENSE_QCMS
node_modules/pdfjs-dist/wasm/openjpeg.wasm
node_modules/pdfjs-dist/wasm/openjpeg_nowasm_fallback.js
node_modules/pdfjs-dist/wasm/qcms_bg.wasm
node_modules/pdfjs-dist/web/images/altText_add.svg
node_modules/pdfjs-dist/web/images/altText_disclaimer.svg
node_modules/pdfjs-dist/web/images/altText_done.svg
node_modules/pdfjs-dist/web/images/altText_spinner.svg
node_modules/pdfjs-dist/web/images/altText_warning.svg
node_modules/pdfjs-dist/web/images/annotation-check.svg
node_modules/pdfjs-dist/web/images/annotation-comment.svg
node_modules/pdfjs-dist/web/images/annotation-help.svg
node_modules/pdfjs-dist/web/images/annotation-insert.svg
node_modules/pdfjs-dist/web/images/annotation-key.svg
node_modules/pdfjs-dist/web/images/annotation-newparagraph.svg
node_modules/pdfjs-dist/web/images/annotation-noicon.svg
node_modules/pdfjs-dist/web/images/annotation-note.svg
node_modules/pdfjs-dist/web/images/annotation-paperclip.svg
node_modules/pdfjs-dist/web/images/annotation-paragraph.svg
node_modules/pdfjs-dist/web/images/annotation-pushpin.svg
node_modules/pdfjs-dist/web/images/cursor-editorFreeHighlight.svg
node_modules/pdfjs-dist/web/images/cursor-editorFreeText.svg
node_modules/pdfjs-dist/web/images/cursor-editorInk.svg
node_modules/pdfjs-dist/web/images/cursor-editorTextHighlight.svg
node_modules/pdfjs-dist/web/images/editor-toolbar-delete.svg
node_modules/pdfjs-dist/web/images/editor-toolbar-edit.svg
node_modules/pdfjs-dist/web/images/loading-icon.gif
node_modules/pdfjs-dist/web/images/messageBar_closingButton.svg
node_modules/pdfjs-dist/web/images/messageBar_warning.svg
node_modules/pdfjs-dist/web/images/secondaryToolbarButton-documentProperties.svg
node_modules/pdfjs-dist/web/images/toolbarButton-editorHighlight.svg
node_modules/pdfjs-dist/web/images/toolbarButton-menuArrow.svg
node_modules/pdfjs-dist/web/pdf_viewer.css
node_modules/pdfjs-dist/web/pdf_viewer.d.mts
node_modules/pdfjs-dist/web/pdf_viewer.mjs
node_modules/pdfjs-dist/web/pdf_viewer.mjs.map
node_modules/pdfjs-dist/webpack.mjs
node_modules/.package-lock.json
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/chunk-DCE4O3CF.js
node_modules/.vite/deps/chunk-DCE4O3CF.js.map
node_modules/.vite/deps/chunk-UTIALTTK.js
node_modules/.vite/deps/chunk-UTIALTTK.js.map
node_modules/.vite/deps/chunk-V6TY7KAL.js
node_modules/.vite/deps/chunk-V6TY7KAL.js.map
node_modules/.vite/deps/d3.js
node_modules/.vite/deps/svelte.js
node_modules/.vite/deps/svelte_animate.js
node_modules/.vite/deps/svelte_easing.js
node_modules/.vite/deps/svelte_internal.js
node_modules/.vite/deps/svelte_internal_disclose-version.js
node_modules/.vite/deps/svelte_motion.js
node_modules/.vite/deps/svelte_store.js
node_modules/.vite/deps/svelte_transition.js
